@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;900&family=Poppins:wght@400;800&family=Roboto&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.add-employee{
    display: flex;
    justify-content: flex-end;
}
.add-employee button{
    cursor: pointer;
    background-color: brown;
    color: white;
    border: none;
    padding: 5px 5px;
}
.table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.table td, .table th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.popup{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.659);
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-body{
    padding: 40px 20px;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
}
td:last-child button{
    /* margin: 0 4px; */
    cursor: pointer;
    background-color: rgb(214, 0, 0);
    border: none;
    color: white;
    padding: 3px 5px;
}
#submit{
    background-color: brown;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}